@import 'bootstrap/scss/bootstrap';
@import './common/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

html {
  height: 100%;
}

body {
  background-color: $white;
  position: relative;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  font-family: 'Ledger', serif;
  font-size: 25px;
}

.dropdown-toggle::after {
  display: none;
}

.app-container {
  width: 1500px !important;
  margin: 0 auto;
}
